__pycache__
.vscode
bitmaps*
font
*/*.MSG
hebrew_letters
output
tools/__pycache__
tools/*.pyc
output_kq3/
*.csv
*.zip
*.pft
*.pal
*.json
*/*_messages_english.txt
*/*_mapping.txt
glyphs_fixed
patch
glyphs_16_21
glyphs_16_21_l
glyphs_16_21_sl
glyphs_24_38
glyphs_32_46
glyphs_32_46_sl
glyphs_fixed_20
glyphs_fixed_20_sl
glyphs_fixed_27
glyphs_fixed_36
glyphs_fixed_45
glyphs_fixed_45_sl
glyphs_fixed_console
glyphs_fixed_consolel
glyphs_fixed_console_menu
glyphs_fixed_consolel_menu
bitmap_credit
main*.bmp
*.exe